<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zery.blog.dao.MenuDao">

    <resultMap id="UserBaseMap" type="com.zery.blog.model.Menu">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="MenuName" property="userName" jdbcType="VARCHAR"/>
        <result column="MenuCode" property="userPhone" jdbcType="VARCHAR"/>
        <result column="MenuUrl" property="userEmail" jdbcType="VARCHAR"/>
        <result column="IsDelete" property="userPwd" jdbcType="BIT"/>
        <result column="Sort" property="pwdSalt" jdbcType="INT"/>

    </resultMap>

    <select id="queryMenus" parameterType="java.lang.Long" resultMap="UserBaseMap">
        SELECT * FROM Menu

    </select>

    <select id="getMenuById" resultMap="UserBaseMap">
        SELECT * FROM Menu
        WHERE id = #{id}
        AND IsDelete = #{isDelete}
    </select>


</mapper>